:root{
    --primary:#007bff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --mutted:#777777;
    --whiteBG:#F8FAFC;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;; 
} 

section {
    margin-top: 50px;
}
.header{
    padding: 1.5rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color:#F8FAFC;
    right: 0;
    left: 0;
    margin-top:-50px;
}
.header #logo{
    width: 10%;
}
.navbar a.hom {
color:#007bff;;
}
.navbar a.Appoinment{
    background-color:#007bff;;
    color: #F8FAFC;
    padding: 12px  35px  12px  35px;
    text-align: center;
    border-radius: 8px;
}
.navbar a{
    color: #777777;;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
} 

.navbar::after{
    content: "";
    width: 80%;
    height: 2px;
    background-color: #bcbc9e;
    position: absolute;
    margin-top: 40px;
    left: 50px;
    margin-left: 100px;
}

#home div.stats{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    margin-top: 60px; 
    
}
/* section home */
#home .principal{
   
    display: flex;
    justify-content: space-around;
    margin: 20px 400px 30px 0;
    margin-top: 100px;
}
 #home {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
#home .left {
    width: 40%;
    margin-top: 50px;
   
}

#home .left h1 {
   
    font-weight: 700;
    font-size: 50px;
    line-height: 1.38;
    padding-bottom: 6px;
}
#home .left p {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color:#777777;   
}
#home .left  a {
    text-decoration: 0;
    text-transform:none;
    transition: 0.5s; 
    display: flex;
    justify-content: space-between;
}
#home .right {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .right img {
    width: 100%;
    animation: animate 2s linear;
    transition: 0.5s;
    margin-left: 600px;
  }
#home .left span{
    color: #FFD700;;
  }
.get-started{
    color: #F8FAFC;
    background-color: #0056b3;
    border-radius: 8px;
    padding: 16px 48px;
    font-size: 18px;
}
.Learn-more{
    color: #333;
    padding: 16px 48px;
    border: 2px solid #bcbc9e;
    border-radius: 8px;
}

/* service  */

#services .div-blue {
    display: flex;
    width: 100%;
    padding: 20px 15px;
    background-color: #516eff;
    justify-content: space-between;
}
#services .left {
    color: #ffffff;
    padding: 40px;
    font-size: 25px;
}
#services .left p {
    font-size: 20px;
    padding: 20px;
}
#services .right {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
 
}

#services .right div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FAFC;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    color: #777777;
    font-weight: bold;
}
#services .right div img {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}
#services .content-service {
    display: flex;
}
#services .image-doctor {
    background-color:#77777707;
    border-radius: 25px;
    height: 20%;
    margin-right: 50px;
    padding-top: 5%;
    
}
.content-service .chield {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 50px);
    font-size: 20px;
    margin-left: 50px;
    margin-top: 6%;
    
}
.content-service .chield .title {
    grid-column: 1/3;
    list-style: none;
    text-align: right;
    text-align: center;
    margin-left: 170px;
}


.content-service .chield div {
    display: flex;
} 
.content-service .chield div img {
    width: 25px;
    height: 25px;
}
.content-service .chield div p {
    margin-left: 15px;
}

/* about us */

#about-us {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-us .special {
    width: 90%;
    margin-top: 1%;
    display: flex;
    font-size: 25px;
    flex-direction: column;
}

#about-us .special div {
    display: flex;
    justify-content: space-between;
}

#about-us .special div h2 {
    margin-top: 20px;
    font-size: 50px;
}
#about-us .special  h3 {
    margin-top: -40px;
    font-size: 40px;
}
#about-us .special hr {
    margin-left: 160px;
    margin-top: -10px;
}

#about-us .contener {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 30px ;
    margin: 50px 80px;
}
#about-us .contener div {
    background-color: #F8FAFC;
    padding: 30px;
    color: var(--muted);
    border-radius: 15px;
    border: solid #bcbc9e 1px;
}
#about-us .contener div img {
    width: 80px;
    height: auto;
}
#about-us .contener h4 {
    color: black;
    padding: 10px;
    font-size: 18px;
}
#about-us .contener p {
    font-size: 15px;
    line-height: 22px;
}

/* Code CSS de la section */
#history {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 20px 15px;
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    color: #ffffff;
    
}
#section-blue div {
    width: max-content;
    text-align: center;
}
#section-blue div h2 {
    padding-bottom: 30px;
    font-weight: normal;
}
#section-blue div h2 span {
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
}
#section-blue div p {
    line-height: 25px;
    font-size: 15px;
}
#section-blue div button {
    padding: 20px 50px;
    background-color: transparent;
    border-radius: 10px;
    color: #ffffff;
    border: #ffffff solid 1px;
    margin-top: 40px;
}
.glorius {
    width: 90%;
}
.glorius div {
    display: flex;
    justify-content: space-between;
    
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 0px;
}
.glorius div h2 {
    font-size: 35px;
    margin-top: -15px;
}
.glorius hr {
    margin-right: 150px;
}

.glorius h2 {
    font-size: 40px;
    text-align: right;
    margin-top: -35px;

}
#history .or-history {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    margin-top: 30px;
  
}
#history .or-history img {
    width: 450px;
    margin-top: 50px;  
    padding-right: 50px;
}
#history .or-history div {
    width: 500px;
    padding: 40px;
    margin-left: 50px;
    background-color: #F8FAFC;
    border: #777777 solid 1px;
    margin-top: 50px;
    border-radius: 10px;
    height: max-content;
    border: #bcbc9e solid 1px;
    color: #777777;
    line-height: 25px;
    font-size: 14px;
}
#history .or-history div h2 {
    margin-bottom: 20px;
}

/* med */
#about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #516eff;
}
.about {
    display: flex;
    align-items: center;
    padding: 60px;
}

.about .right h3 {
    font-size:35px;
    color: #ffffff;
    margin: 10px 0;
    text-align: center;
}
.about .right p {
    font-size: 15px ;
    color: #ffffff;
    line-height: 20px;
}
.formi{
    text-align: center;
}
.about .right button {
    margin: 20px 0;
    padding: 20px 60px;
    background-color:#516eff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 250px;
}
.right span{
   font-family:  'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.about .right button a{
    color: #fff;
    text-decoration: 0;
    
}

/* doctors */

#meet-doctor {
    margin-top: 10px;
    display: flex;
    background-color: #F8FAFC;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#meet-doctor .meet {
    width: 90%;
    margin-top: 1%;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}
#meet-doctor .meet div {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
#meet-doctor .meet hr {
    margin-left: 150px;
    margin-top: -20px;
}
#meet-doctor .meet h1 {
    font-size: 30px;
}
#meet-doctor .meet h3 {
    font-size: 40px;
    margin-top: -20px;
}
#meet-doctor .doctors {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
}
#meet-doctor .doctors div {
    margin: 50px;
    color: #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    font-size: 15px;
    line-height: 20px;
}
#meet-doctor .doctors div img {
    width: 180px;
}
#meet-doctor .doctors div h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    font-weight: normal;
}
#meet-doctor .doctors div button {
    width: 120px;
    padding:  5px 20px;
    margin-top: 15px;
    background-color: #F8FAFC;
    color: var(--lightpriary);
    border-radius: 5px;
    border-color: var(--primary);
    border-style: solid;
}

.section-blue .div-right {
    width: 100px;
    padding: 50px 30px 0px 0px;
    margin: 30px 150px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.section-blue .div-right div {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-blue .div-right div div {
    height: 10px;
    background-color: var(--silver);
    margin: 10px;
    border-radius: 50%;
    font-size: 35px;
    color: transparent;
}
.section-blue .image-left {
    margin: 15px 15px 20px 100px  ;
    background-color: var(--whiteBG);
    padding: 20px;
    color: black;
    border-radius: 5px;
    font-size: 13px;
}
.section-blue .image-left img {
    margin-bottom: 10px;
    width: 200px;
}

#About_Us {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #007bff;
}
.about-h {
    display: flex;
    align-items: center;
    padding: 150px 0;
   
}

div.magic{
    background-color: #ffffff;
    padding: 40px 20px 45px 20px;
    border-radius: 8px;
}
div.magic p{
font-weight: bold;
text-align: center;
margin-top: 12px;
color: #333;
}

.about-h .right-h h3 {
    font-size:35px;
    color: #ffffff;
    margin: 20px 0;
}
.about-h .right-h p {
    font-size: 20px ;
    color: #F8FAFC;
}

/* les 3 points */
.item-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item{
    background-color: #ccc;
    height: 10px;
    border-radius: 100px;
    width: 10px;
    margin: 8px;
    margin-top: 60px;
  }

  
#register {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#register .contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 50px;
}
#register .contener img {
    width: 400px;
    margin-left: -70px;
}
#register .contener form {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(8,auto);
    column-gap: 20px;
    padding: 25px;
    margin-left: 20px;
    color: var(--muted);
}
#register .contener form label{
    font-size: 15px;
    margin: 15px 0 2px 5px;

}
#register .contener form :is(input, select) {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: solid var(--silver) 1px;
    background-color: transparent;
    color: var(--muted);
}
#register .contener form textarea {
    grid-column: 1/3;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    border: 5px;
    border-radius: 5px;
    border: solid var(--silver) 1px;
    resize: none;
    padding: 10px;

}
#register .contener form div {
    display: flex;
    justify-content: center;
    position: relative;
}
#register .contener form div select {
    position: absolute;
    bottom: 10px;
    width: 50px;
    border: none;
    left: 20px;
    padding: 0;
    background-color: transparent;
}#register .contener form div input {
    padding-left: 70px;
    
} 

 #register .contener form .div-checkbox {
    padding: 15px;
    margin: 10px 0 10px 0 ;
    grid-column: 1/3;
    font-size: 5px;
    color: var(--muted);
    display: flex;
    justify-content: start;
}
#register .contener form .div-checkbox :is(input,label){
    width: auto;
    margin: 5px 0 5px 0;
    padding: 5px  0 5px 0; 
}
#register .contener form .div-checkbox label {
    padding-left: 5px;
}
 #register .contener form .div-checkbox {
     margin-left: -15px;
} 
#register .contener form input[type="submit"] {
    grid-column: 1/3;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    font-size: 15px;
}


#subscribes {
    width: 100%;
    background-color: #216583;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
#subscribes .subscribe {
    width: 90%;
    background-color: var(--footerBG);
    display: flex; flex-direction: column;
    align-items: center;
    padding: 50px;
    color: var(--white);
    font-size: 20px;
    border-radius: 15px;
    margin: 30px;
}
#subscribes .subscribe h2{
    font-size: 50px;
}
#subscribes .subscribe form {
    display: flex;
    justify-content: space-between;
}
#subscribes .subscribe input {
    padding: 15px;
    margin: 50px 25px auto 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--silver);
    width: auto;
    font-size: 20px;
    color: var(--defaultLinkColor);

  
}
#subscribes .subscribe input::placeholder{
     color: var(--white);
     font-size: 16px;  

}
#subscribes .subscribe input[type="submit"] {
    background-color: var(--whiteBG);
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
}

#content{
    background-color: #516eff;
    padding: 150px 0;
    margin-top: 70px;
    width: 111%;
    align-content: center;
    justify-content: center;
    align-items: center;

}
div.columns img{
    filter: invert(100%); /* Inverser les couleurs pour changer le noir en blanc */
    filter: brightness(1500%);
    width: 100px;
}
div.columns h1{
color: #ffffff;
}
div.columns h2{
    color:#ffffff ;
}
div.columns p {
color: #ffffff;
}
.sans-bordure {
    border-collapse: collapse;
    color: #ffffff;
  }
  
  .sans-bordure td {
    border: none;
    padding: 10px; /* Ajustez selon vos préférences */
  }
.contents {
    display: flex;
}



.columns {
    flex: 1;
    border-right: 2px solid #ffffff; /* trait vertical */
    padding: 0 20px;
}

.columns:last-child {
    border-right: none; /* enlever le trait vertical de la dernière colonne */
}

footer{
    background-color: #216583;
    padding: 20px;
    width: 111%;
    
  }
  footer p{
    text-align: center;
    color: #ffffff;
  }
  .sans-bordure a{
    text-decoration: 0;
    color: #ffffff;
  }
  .feature{
    color: #FFD700;
  }
  .weare{
    color: #FFD700;
  }
  .doct-or{
    color: #FFD700;
  }
  .appoint{
    color: #FFD700;
  }